<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Resultado IMC</title>
</head>

<body>
    <h1>Seu imc e sua condição atual:</h1>
    <p>{{imc}}</p>



    <table class="table">
        <thead>
        <tbody>
            <tr>
                <th scope="col">Abaixo do peso</th>
                <th scope="col">Peso normal</th>
                <th scope="col">Acima do peso</th>
                <th scope="col">Obesidade</th>
            </tr>
            </thead>
            <tr>
                <td>
                    menor que 18,5 </td>
                <td>
                    maior que 18,5 e menor que 25 </td>
                <td> maior que 25 e menor que 30 </td>
                <td> maior que 30 </td>
            </tr>
        </tbody>


</body>

</html>